# Rust Cargo
target/
Cargo.lock

# IDEs and Editors
.idea/
.vscode/
.DS_Store
*.swp
*.bak
*~

# Operating System files
.env
.local

# MSVC Windows builds of rustc generate these, which store debugging information
*.pdb